@import 'null.scss';

@use "cr" as white-text;

$font-size: 18px;

@mixin test($a, $b, $c, $d){
    color: $a;
    font-weight: $b;
    border: $c;   
    max-width: $d;
}

%light{
    border: 2px solid #000;
    border-radius: 30/60 * 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: green;
}

body{
    font-family: 'Heebo', sans-serif;
    font-size: $font-size;
}

.h1{
    display: none;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    background: #000;
    height: 40px;
    align-items: center;
}
.navigation__link{
    color: #fff;     
    margin-right: 20px;
    &:hover{
        text-decoration: underline;
    }
    &:focus{
        font-weight: 900;
    }
}

.nesting-wrapper{
    margin: 25px 0 0 20px;
    >p{
        text-transform: uppercase;
    }
    .second-level{
        margin-left: 25px;
        p + p{
            color: #ff0000;
        }
    }
}

.mixin-wrapper{
    margin: 20px;
    p{
        margin-top: 20px;
        text-align: center
    }
    .item1{
        @include test(#00d9ff, bolder, dotted 4px #000, 120px * 2);
    }
    .item2{
        @include test(#8c00ff, unset, solid 2px #000, 120px);    
    }
}

.extend-wrapper{
    margin-left: 20px;
    p{
        @extend %light;
    }
    .yellow{
        color: yellow;
    }
    .red{
        color: red;
    }
}

.use-wrapper{
    margin-left: 20px;
    p{
        @include white-text.color-white;
    }
}